@model parcial2.Models.Footwear

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Modelo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Año/Temporada
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Release)
        </dd>
        <dt class="col-sm-2">
            Genero
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class="col-sm-2">
            Precio
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            Marca
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company)
        </dd>
        <dt class="col-sm-2">
            Vista previa
        </dt>
        <dd class="col-sm-10">
            <img class="product-image" src="@Html.DisplayFor(model => model.Image)" alt="Product Image" style="max-width: 50%; height: auto; display: block; margin: 0 auto; float: left;">
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Volver al listado</a>
</div>
